# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
myenv/
.env/
.env.*

# Model files
*.pt
*.pth

# Dataset / large files
data/Mushrooms/
*.zip
*.tar.gz

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
