# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
myenv/
.env/
.env.*

# Model files
*.pt
*.pth

# Dataset / large files
data/Mushrooms/
*.zip
*.tar.gz

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# API Keys and secrets
.streamlit/secrets.toml
src/.streamlit/secrets.toml
.env
secrets.toml
